// background styles

.bg {
  &--white { background-color: $white; }
  &--grey-light { background-color: $grey-light; }
  &--grey-lighter { background-color: $grey-lighter; }
  &--grey-lightest { background-color: $grey-lightest; }
  &--grey { background-color: $grey; }
  &--grey-dark { background-color: $grey-dark; }
  &--grey-darker { background-color: $grey-darker; }
  &--grey-darkest { background-color: $grey-darkest; }
  &--light { background-color: $grey-lightest; }
  &--dark  { background-color: $grey-darker; }
  &--blue  { background-color: $b-blue-dark; }

  &--img   { @include background-attributes; }
  &--fixed  { background-attachment: fixed; background-size: cover; }
  &--pattern {
    background-image: url('../img/icons/pattern-wh.png');
    &-10 { background-image: url('../img/icons/pattern-wh-10.png');  }
  }


  &__fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-background;
    @include background-attributes;
    background-color: $grey-darker;
  }


}