// general styles for the project that wouldn't be a reuseable component

.width {
  margin-right: auto;
  margin-left: auto;
  &--sm { max-width: $sm; }
  &--md { max-width: $md; }
  &--lg { max-width: $lg; }
  &--xl { max-width: $xl; }
  &--xxl { max-width: $xxl; }
}

.qatar-section {
  position: relative;
  &__logo {
    width: 200px;
    min-width: 140px;
    margin-bottom: $s2;
  }
  &__waves {
    position: absolute;
    bottom: -1px;
    left: 0; right: 0;
    background-image: url('../img/content/qatar/waves.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 5.5%;
    }
  }
}