---
layout: default
---
<div class="wp" id="start"></div>



<!-- loops through section file for page content -->
{% for section in page.page-sections %}
  <div class="js-nav-section {% cycle 'bg--white', 'bg--light' %}">
    <div class="wp" id="{{section.id}}"></div>
    <div class="container vpad--xxxxl">

      <!-- Content for the standard sections -->
      <div class="bob{% cycle '',' bob--swap' %}">
        <div class="bob__text boxpad--lg">
          <div class="title title--xxxl title--display">{{section.title}}</div>
          <div class="space--sm"></div>
          <p class="text--lg">{{section.description}}</p>
          <div class="space--lg"></div>
          <a href="{{site.baseurl}}/#guida" class="btn btn--solid">Scarica la guida</a>
        </div>
        <div class="bob__img boxpad--lg">
          <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/{{section.id}}/01.jpg');"></div>
          <div class="space--md"></div>
          <div class="row row--6-6 row--gutters-sm">
            <div class="col">
              <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{section.id}}/02.jpg');"></div>
            </div>
            <div class="col">
              <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{section.id}}/03.jpg');"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endfor %}




{% assign guide-section = page.guide-section %}
<!-- Guide sign up section -->
<div class="js-nav-section bg--blue bg--pattern-10 text--white">
  <div class="wp" id="{{guide-section.id}}"></div>
  <div class="container vpad--xxxl">
    <div class="text--center">
      <h2 class="title title--xxxl title--display">{{guide-section.title}}</h2>
      <div class="width width--xl space--md">
        <p class="text--xl">{{guide-section.description}}</p>
        <div class="space--lg"></div>
        <div class="bg--light" style="padding: {{page.entry-form.height | divided_by: 2}}px 0;">
          Strutta entry form for guide download
        </div>
      </div>
    </div>
  </div>
</div>




{% assign qatar-section = page.qatar-section %}
<!-- qatar section -->
<div class="js-nav-section bg--img qatar-section" style="background-image: url({{site.img}}/content/qatar/bg.jpg);">
  <div class="wp" id="{{qatar-section.id}}"></div>
  <div class="container vpad--xxxl text--white">

    <div class="container--lg">
      <img class="qatar-section__logo" src="{{site.img}}/logo/qatar-airways.svg" alt="Qatar Airways">
      <h3 class="title title--xxl text--bold">{{qatar-section.title}}</h3>
      <div class="space--xs"></div>
      <h3 class="title title--sm text--italic">{{qatar-section.title-sub}}</h3>
      <div class="space--xs"></div>
      <hr class="hr--left">
      {{qatar-section.description}}
      <div class="space--sm"></div>
      <a href="#qatar-link" class="btn btn--qatar">Vedi voli</a>
    </div>

  </div>
  <div class="qatar-section__waves"></div>
</div>
